# MONGODB
MONGODB_URI=

# frontendt url - no needed when frontend and backend running on same server.
FRONTEND_URL=http://localhost:5173 #this is development url.

# JWR SECRET
JWT_SECRET=

# NODE_ENV=
NODE_ENV=

#CLOUDINARY CREDS
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
